{% extends "layout.html" %}

{% block "page_content" %}
    <h1>Legal</h1>

    <p>1. Información general
        En cumplimiento con el artículo 10 de la Ley de Servicios de la Sociedad de la Información y Comercio Electrónico (LSSI-CE) y demás normativa vigente, se informa que este sitio web es propiedad de:
        
        Nombre o razón social: Gestor de Reservas
        
        Domicilio: Calle Ficticia 123, Ciudad Ejemplo, Código Postal 28000, España
        
        Correo electrónico: contacto@gestordereservas.com
        
        Teléfono: +34 600 123 456
        
        NIF: B12345678
        
        2. Uso del sitio web
        El acceso y uso de este sitio web atribuye la condición de usuario y supone la aceptación plena y sin reservas de todas y cada una de las disposiciones incluidas en este Aviso Legal. El usuario se compromete a hacer un uso adecuado del sitio web conforme a la ley, la moral, las buenas costumbres y el orden público.
        
        3. Propiedad intelectual e industrial
        Todos los contenidos del sitio web, incluyendo textos, imágenes, diseño gráfico, logotipos, marcas y software, son propiedad exclusiva de Gestor de Reservas, o de terceros que han autorizado su uso. Queda prohibida la reproducción, distribución, comunicación pública o transformación sin autorización expresa.
        
        4. Protección de datos
        Los datos personales facilitados serán tratados conforme a la normativa vigente de protección de datos personales y privacidad. Para más información, consulte nuestra [Política de Privacidad].
        
        5. Responsabilidad
        Gestor de Reservas no se responsabiliza de los daños o perjuicios que puedan derivarse del acceso o uso del sitio web, salvo los legalmente establecidos. Asimismo, no garantiza la ausencia de virus u otros elementos lesivos que puedan causar daños.
        
        6. Modificaciones
        Gestor de Reservas se reserva el derecho a modificar, sin previo aviso, la presentación, configuración y contenidos del sitio web, pudiendo limitar o impedir el acceso a los mismos.
        
        7. Legislación aplicable y jurisdicción
        Para cualquier controversia derivada del uso de este sitio web, será de aplicación la legislación vigente en España, y los tribunales competentes serán los de la ciudad de Madrid.</p>


{% endblock %}